@import url('https://fonts.googleapis.com/css?family=Barrio|Roboto:400,900');

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#map {
  height: 70%;
  margin: 10%;
  margin-top: 5%;
}

.mapNew {
  width: 50%;
  height: 50%;
}


/* Optional: Makes the sample page fill the window. */

html,
body {
  height: 100%;
  /*margin: 10%;*/
  padding: 0;
}

.windMain {
  color: white;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.windMain h1 {
  color: black;
  font-size: 120%;
}

.windMain h2 {
  margin-top: 8px;
}

.windMain h3 {
  font-size: 2.5rem;
  margin-top: 20px;
}

.ssb {
  height: 15vh;
  width: 40%;
  margin-bottom: 20px;
  padding: 20px;
  margin-top: 60px;
  border-radius: 10px;
}

.lindon {
  height: 15vh;
  width: 40%;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
}

.deerCr {
  height: 15vh;
  width: 40%;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
}

.redWind {
  background-color: rgba(250, 00, 00, .5);
}

.greenWind {
  background-color: rgba(00, 250, 10, .5);
  height: 20vh;
  width: 50%;
  font-size: 1.5rem;
}

.header {
  background: rgba(66, 79, 88, .5);
  /*opacity: .5;*/
  width: 100%;
  color: white;
  text-align: center;
  height: 18vh;
  font-family: sans-serif solid black;
}

.title {
  padding: 30px;
  font-size: 3rem;
  font-family: 'Barrio', cursive;
}

.navMain {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  margin: 15px;
  font-family: 'Barrio', cursive;
  color: white;
}

.mainBg {
  background: url("../kitebg.jpg") no-repeat center;
  background-size: cover;
  background-color: black;
}

.photos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

img {
  margin: 50px;
  height: 25vh;
  justify-content: space-around;
}


/*slider*/


/*body {
        width: 100%;
        height: 100%;
      }

      .slideout-menu {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 0;
        width: 256px;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        display: none;
      }

      .slideout-panel {
        position: relative;
        z-index: 1;
        will-change: transform;
      }

      .slideout-open,
      .slideout-open body,
      .slideout-open .slideout-panel {
        overflow: hidden;
      }

      .slideout-open .slideout-menu {
        display: block;
      }*/

// .mapHead {
//   color: white;
//   text-align: center;
//   margin-top: 200px;
//   font-family: 'Roboto', 'Barrio', sans-serif;
//   font-size: 1.6rem;
// }

.navv {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30vw;
  height: 100vh;
  background-color: dimgrey;
  position: fixed;
  margin-left: 0vh;
  z-index: 20;

  font-size: 2rem;
  
}

.menu-wrap {
    background-color: rgba(69, 68, 150, .6);
    position: fixed;
    top: 0;
    height: 100%;
    width: 280px;
    margin-left: 0;
    font-size: 1em;
    font-weight: 700;
    overflow: auto;
    transition: .25s;
    z-index: 10;
    transition: .5s;
    display: flex;
  flex-direction: column;
}

.menu-wrap a{
  color: white;
  padding: 20px;
  font-size: 2rem;
}

.ham {
  position: absolute;
  left: 25px;
  top: 39px;
}
 .ex{
   color: white;
  //  position: fixed;
   margin-top: 15px;
   margin-left: 100px;
   margin-bottom: 30px;

 }

// //NAV
// .toggle-button {
//   position: fixed;
//   width: 44px;
//   height: 40px;
//   padding: 4px;
//   transition: .25s;
//   z-index: 15;
// }
// .toggle-button:hover {
//   cursor: pointer;
// }
// .toggle-button .menu-bar {
//   position: absolute;
//   border-radius: 2px;
//   width: 80%;
//   transition: .5s;
// }
// .toggle-button .menu-bar-top {
//   border: 4px solid #555;
//   border-bottom: none;
//   top: 0;
// }
// .toggle-button .menu-bar-middle {
//   height: 4px;
//   background-color: #555;
//   margin-top: 7px;
//   margin-bottom: 7px;
//   top: 4px;
// }
// .toggle-button .menu-bar-bottom {
//   border: 4px solid #555;
//   border-top: none;
//   top: 22px;
// }
// .button-open .menu-bar-top {
//   transform: rotate(45deg) translate(8px, 8px);
//   transition: .5s;
// }
// .button-open .menu-bar-middle {
//   transform: translate(230px);
//   transition: .1s ease-in;
//   opacity: 0;
// }
// .button-open .menu-bar-bottom {
//   transform: rotate(-45deg) translate(8px, -7px);
//   transition: .5s;
// }